.dojoxGridHiddenFocus {
  display: none;
}

.dojoxGridContent div {
  left: unset !important;
  top: unset !important;
  border: solid 1px black;
}

#ok {
  margin: auto;
  padding: 2%;
  text-align: top;
}

#grid {
  width: 560px;
  height: 500px;
  text-align: center;
  margin: auto;
}

* {
  outline: none !important;
  text-align: center;
}

body {
  margin: 5;
  padding: 2em;
  font-family: Lucida Sans, Lucida Grande, Arial !important;
  font-size: 13px !important;
  background: white;
  color: #333;
  text-align: center;
}

button {
  -webkit-transition: background-color 0.2s linear;
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #e4f2ff;
  background-image: url("//ajax.googleapis.com/ajax/libs/dojo/1.7.4/dijit/themes/claro/form/images/button.png");
  background-position: center top;
  background-repeat: repeat-x;
  border: 1px solid #769dc0;
  padding: 2px 8px 4px;
  font-size: 1em;
  text-align: center;
}

button:hover {
  background-color: #afd9ff;
  color: #000000;
  text-align: center;
}

#greeting {
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}

.break {
  float: none;
  clear: both;
  text-align: center;
}

.dojoxGrid {
  margin: 0 auto;
  text-align: center;
}

#users {
  margin: 0.5%;
  padding: 0.5%;
  text-align: center;
}
